*
!*.*
*.a
kaldi-pc/tools/openfst-1.6.5/lib/libfstscript.so.8.0.0
kaldi-pc/tools/openfst-1.6.5/lib/libfstscript.so.8.0.0
kaldi-pc/tools/openfst-1.6.5/src/script/.libs/libfstscript.so.8.0.0T
kaldi-pc/tools/openfst-1.6.5/src/script/.libs/libfstscript.so.8.0.0
!deltaN_touch
